Deliverable 2: Determine Bias of Vine Reviews (40 points)

In [1]:
# Import Dependencies
import pandas as pd

1. Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

DataFrame or table for the vine_table

In [2]:
# Make a reference to the vine_tabel.csv file path
csv_path = "Resources/pgAdmin_vine_table.csv"

# Import the books.csv file as a DataFrame
vine_df = pd.read_csv(csv_path)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [3]:
# To ensure data is clean look for missing values. The belwo shows no missing values so no need to run the drop null values function. 
vine_df.count()

review_id            8733832
star_rating          8733832
helpful_votes        8733832
total_votes          8733832
vine                 8733832
verified_purchase    8733832
dtype: int64

In [4]:
#  Get/recheck the data types of each column.
vine_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

The data is filtered to create a DataFrame or table where there are 20 or more total votes

In [5]:
# Filter vine_df for total_votes(count) >= 20
vine_vc_df = vine_df[vine_df.total_votes >= 20]
vine_vc_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

In [6]:
# Filter vine_vc_df to get helpful_votes/total_votes >=50%
vine_helpful_df = vine_vc_df[vine_vc_df.helpful_votes/vine_vc_df.total_votes * 100 >= 50]
vine_helpful_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8733667,R1FALBZOUYCZTD,5,29,31,N,N
8733681,R7M3UQX8B04NM,5,20,21,N,N
8733687,R1UYT6MT2IOAJN,5,23,24,N,N
8733760,R3QRYRJWX0N6H3,4,29,33,N,N
8733802,R20WGBU79NREU,5,14,20,N,N

3.Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [7]:
# Filter vine_helpful_df to extract the vine paid program where vine=Y
vine_paid_df = vine_helpful_df[vine_helpful_df.vine=="Y"]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N

4.Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [8]:
# Filter vine_helpful_df to extract the vine unpaid program where vine=N
vine_unpaid_df = vine_helpful_df[vine_helpful_df.vine=="N"]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

5.Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [9]:
# Total helpful revires, 5 star reviews & percentage for total helpful reviews
total_helpful_reviews = vine_helpful_df.review_id.count()
five_star_revs = vine_helpful_df.review_id[vine_helpful_df.star_rating == 5].count()
Five_Star_Perc = five_star_revs/total_helpful_reviews*100

In [10]:
# step 2 vine_paid_df and step 3 vine_unpaid_df already generated. 

# vine_paid_df total reviews, 5 star reviews and percentage
TtlRevCountY = vine_paid_df.review_id.count()
FiveStarRevCountY = vine_paid_df.review_id[vine_paid_df.star_rating == 5].count()
FiveStarPercY = FiveStarRevCountY/TtlRevCountY * 100

# vine_paid_df total reviews, 5 star reviews and percentage
TtlRevCountN = vine_unpaid_df.review_id.count()
FiveStarRevCountN = vine_unpaid_df.review_id[vine_unpaid_df.star_rating == 5].count()
FiveStarPercN = FiveStarRevCountN/TtlRevCountN * 100

In [11]:
# Generate the summary analysis df from the results above.
vine_analysis_df = pd.DataFrame([{"Vine member":"Y", "Total Reviews":TtlRevCountY, "Five Star Reviews":FiveStarRevCountY, "Five Star Review %":FiveStarPercY},
                                 {"Vine member":"N", "Total Reviews":TtlRevCountN, "Five Star Reviews":FiveStarRevCountN, "Five Star Review %":FiveStarPercN},
                                {"Vine member":"Total Helpful Reviews", "Total Reviews":total_helpful_reviews, "Five Star Reviews":five_star_revs, "Five Star Review %":Five_Star_Perc},
                                ])
vine_analysis_df.round(2)

             Vine member  Total Reviews  Five Star Reviews  Five Star Review %
0                      Y             44                 26               59.09
1                      N          53974              28950               53.64
2  Total Helpful Reviews          54018              28976               53.64

Additional analysis

In [12]:
# Paid 5 star reviews as a percentage of Total helpful 5 star reviews
paid_five_star_revs_perc = FiveStarRevCountY/five_star_revs * 100
paid_five_star_revs_perc.round(2)

0.09

In [13]:
# Unpaid 5 star reviews as a percentage of Total helpful 5 star reviews
unpaid_five_star_revs_perc = FiveStarRevCountN/five_star_revs * 100
unpaid_five_star_revs_perc.round(2)

99.91